html, body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
}

body {
    background-color: var(--mud-palette-background);
}

.validation-message,
.text-danger {
    color: #ffd9cf !important;
}
